{% extends "layout.html" %}

{% block content %}
  {% block subheader %}
      <h2>Contacts</h2>
  {% endblock %}
    <table border="1" cellpadding="5">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Country</th>
        <th>Phone Number</th>
        <th>Email</th>
      </tr>
      {% for contact in contacts %}
        <tr>
          <td>{{contact.person.first_name}}</td>
          <td>{{contact.person.last_name}}</td>
          {% comment %} <td>{{contact.person.address}}</td> {% endcomment %}
          {% comment %} <td>{{contact.person.city}}</td> {% endcomment %}
          {% comment %} <td>{{contact.person.state}}</td> {% endcomment %}
          {% comment %} <td>{{contact.person.country}}</td> {% endcomment %}
          <td>{{contact.number}}</td>
          <td>{{contact.person.email}}</td>
        </tr>
      {% endfor %}
    </table>
    <br>
  {% endblock %}