{% load static %}
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home - Demo App</title>
        <link rel="stylesheet" id="ample-style-css" href="{% static 'css/style.css' %}" type="text/css" media="all">
        <link rel='icon' href="{% static 'images/python.ico' type='image/x-icon' %}"/ >
    </head>
    <body class="wide">
        <div id="page" class="hfeed site">
            <header>
                <div class="header">
                    <div class="main-head-wrap inner-wrap clearfix">
                        <div id="header-logo-image">
                            <a href="/">
                                <img src="{% static 'images/mylogo.png' %}" alt="Demo App">
                            </a>
                        </div>
                        <div id="header-text" class="">
                            <h1 id="site-title">
                                <a href="/" title="Demo Application" rel="home">Demo Application</a>
                            </h1>
                            <p>Using Test-Driven Development</p>
                        </div>
<!-- navigation menu Start -->
<div class="main-navigation">
<!--
<label for="toggle">&#9776;</label>
<input type="checkbox" id="menu-toggle"/>
-->
<ul class="menu">
    <li><a href="/">Home</a></li>
    <li><a href="#">Reference</a></li>
    <li><a href="#">Docs</a></li>
    <li><a href="#">Downloads</a></li>
    <li>
        <ul class="menu">
            <li>
            <!-- First Tier Drop Down -->        
            <a href="#">Tutorials</a>         
            <ul class="menu">
                <li><a href="#">HTML/CSS</a></li>
                <li><a href="#">jQuery</a></li>
                <li><a href="#">Other</a></li>
            </ul>
            </li>
        </ul>
    </li>
    <li><a href="/all">Contact</a></li>
</ul>
</div>
<!-- navigation menu End -->
                    </div>
                    <img class="header-image" src="{% static 'images/bay_bridge_banner.png' %}" alt="Quantum Computing">
                </div>
            </header>
            <div class="main-wrapper">
                <div class="single-page clearfix">
                    <div class="inner-wrap">
                        <div class="siteorigin-widget-tinymce textwidget">
                        {% block content %}
                        {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
            <footer id="colophon">
                <div class="inner-wrap">
                    <p><a href="https://www.research.ibm.com/ibm-q/" target="_blank">IBM Q</a> is an industry first initiative to build universal quantum computers for business and science. Our cross-disciplinary team is developing scalable quantum systems, and potential applications for the technology we make available today. IBM Q quantum devices are accessed using Qiskit, a modular, open-source programming framework. A worldwide network of Fortune 500 companies, academic institutions, and startups use IBM Q technology and collaborate with IBM Research to advance quantum computing.</p>
                </div>
            </footer>
        </div>
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>
